:root {
    --primary-yellow: #ffd700;
    --ocean-petrol: #002e3c;
    --sand: #f1efed;
    --sky: #3a7e8a;
    --mint: #93c1b4;
    --pistacchio: #d5dbb6;
    --petrol: #5E7B83;
    --dark-petrol: #1D4856;
    --light-petrol:#CED8DA;
    --middle-petrol: #ABBAC0;


}